<% form_with(model: user) do |form| %>
    
  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :relation_user_id, style: "display: block" %>
    <%= form.text_area :relation_user_id %>
  </div>

  <div>
    <%= form.label :relation_cd, style: "display: block" %>
    <%= form.text_field :relation_cd %>
  </div>

  <div>
    <%= form.label :user_name, style: "display: block" %>
    <%= form.text_area :user_name %>
  </div>

  <div>
    <%= form.label :birthday, style: "display: block" %>
    <%= form.text_area :birthday %>
  </div>

  <div>
    <%= form.label :hobby, style: "display: block" %>
    <%= form.text_field :hobby %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>